.flex-container {
  max-width: 700px;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 1.15rem;
  margin-bottom: 1.15rem;
}

.flex-item {
  width: 100%;
  height: 50%;
  min-height: fit-content;

  margin-top: 8px;
}

.flex-item:first-child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-item:last-child {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.name-img-types {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.name {
  font-weight: bold;
  padding-bottom: 15px;
}

.img {
  width: 180px;
  height: auto;
  background-color: var(--main-background-color);
  background-size: 60%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 25px;
}

#types__item {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  border-radius: 5px;
}

.normal {
  background-color: #a8a77a;
}

.fighting {
  background-color: #c03028;
}

.flying {
  background-color: #a98ff3;
}

.poison {
  background-color: #a040a0;
}

.ground {
  background-color: #e2bf65;
}

.rock {
  background-color: #b6a136;
}

.bug {
  background-color: #a6b91a;
}

.ghost {
  background-color: #735797;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.grass {
  background-color: #78c850;
}

.electric {
  background-color: #f8d030;
}

.psychic {
  background-color: #f95587;
}

.ice {
  background-color: #98d8d8;
}

.dragon {
  background-color: #6f35fc;
}

.steel {
  background-color: #b7b7ce;
  display: none;
}

.fairy {
  background-color: #ee99ac;
}

.info-abilities-items {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.stats {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  justify-content: space-between;
  padding-left: 68px;
  padding-top: 20px;
  flex-wrap: wrap;
}

.list {
  list-style: none;
}

.button {
  border-radius: 5px;
  border: 1px solid var(--contrast3-color);
  background-color: var(--contrast3-color);
  transition: background-color 0.3s ease;
  margin: 0rem auto 1.25rem auto;
  padding: 5px 30px;
  z-index: 5000;
  cursor: pointer;
  color: #fdfdfd;

  z-index: 500;
}

.button:hover {
  background-color: var(--contrast1-color);
  border: 1px solid var(--contrast1-color);
}

.encabezado {
  background-color: var(--contrast3-color);
  color: var(--main-background-color);
  padding: 2px;
  border: 1px solid var(--contrast1-color);
  border-radius: 4px;
}




.stats-graph-container{
  display: flex;
  flex-direction: column;

  margin-right: 85px;
}
.stats-graph-container > span{
  width: fit-content;
  padding: 2px;
  border: 1px solid var(--contrast1-color);
}

.stats-graph {
  max-width: 200px;
  height: fit-content;
}