.grid-container {
  display: grid;
  min-height: 100dvh;
  grid-template-areas:
  "header" 
  "main"
  "footer";
  grid-template-rows: min-content 1fr min-content;
}

.header {
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 0;  
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 0rem;
}

.main {
  padding: 6.5rem 2.5rem 4.5rem 2.5rem;
  background-color: var(--main-background-color);
}

.footer {
  background-color: var(--secondary-background-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem 0.5rem;
  
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}


